

{% extends 'base_generic.html' %}
{% block body %}


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success mt-5" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
</div>
</div>
{% else %}
<p></p>
{% endif %}
{% endfor %}
{% endif %}


  

  <main>
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('/static/index_hero1.jpg');">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Your Health, Our Mission</h1>
                    <p>Looking for the best healthcare management system?</p>
                    <p><a class="btn btn-lg btn-primary" href="#register">Register Today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('/static/index_hero2.jpg');">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Your Health, Our Mission</h1>
                    <p>Looking for the best healthcare management system?</p>
                    <p><a class="btn btn-lg btn-primary" href="#register">Register Today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item " style="background-image: url('/static/index_hero3.jpg');">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Your Health, Our Mission</h1>
                    <p>Looking for the best healthcare management system?</p>
                    <p><a class="btn btn-lg btn-primary" href="#register">Register Today</a></p>
                </div>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <h2 class="featurette-heading fw-normal lh-1">What our clients say?</h2><br><br><br>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <!--<a href="https://www.freepik.com/icon/man_6997546">Icon by Prosymbols Premium</a>-->
            <img class="bd-placeholder-img-marketing1 rounded-circle" width="140" height="140" src="/static/ahnaf.png" alt="Placeholder">
            <h2 class="fw-normal">Ahnaf Islam</h2>
            <p>The best of its kind!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <!--<a href="https://www.freepik.com/icon/man_6997546">Icon by Prosymbols Premium</a>-->
            <img class="bd-placeholder-img-marketing1 rounded-circle" width="140" height="140" src="/static/wasiq.png" alt="Placeholder">
            <h2 class="fw-normal">Wasiq Iqbal</h2>
            <p>Awful Service!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <!--<a href="https://www.freepik.com/icon/man_6997546">Icon by Prosymbols Premium</a>-->
            <img class="bd-placeholder-img-marketing1 rounded-circle" width="140" height="140" src="/static/umar.png" alt="Placeholder">
            <h2 class="fw-normal">Umar Hasan</h2>
            <p>The best of its kind!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <section id="register">
      <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Register Today</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose
              here.</p>
            <p><a class="btn btn-lg btn-primary" href="patientform.html">Patient Registration</a><text>&nbsp;&nbsp;</text><a
                class="btn btn-lg btn-primary" href="doctorform.html">Doctor Registration</a></p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img-featurette bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                          src="/static/index_feature.jpg" alt="Placeholder" width="500" height="500">
          </div>
        </div>
      </section>

    <section id="contact">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Contact Us</h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
                    layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img-contact bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="/static/index_contact.jpg" alt="Placeholder">
            </div>
        </div>
    </section>

    <section id="about">
    <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">About Us</h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
          intended to be actually read, simply here to give you a better view of what this would look like with some
          actual content. Your content.</p>
        </div>
        <div class="col-md-5">
        <img class="bd-placeholder-img-about bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="/static/index_about.png" alt="Placeholder">
        </div>
      </div>
    </section>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    {% endblock %}
