{% extends "base_generic.html" %}

{% block title %}Appointment List{% endblock %}

{% block body %}


<style>
    table,
    td,
    th {
        border: 1px solid black;
    }

    td,
    th {
        padding: 10px 20px;
    }

    table {
        border-collapse: collapse;
    }

    td {
        text-align: center;
    }

    .cancel,
    .reschedule {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .cancel {
        background-color: indianred;
    }

    .reschedule {
        background-color: darkgreen;
    }

    .status-p,
    .status-v,
    .status-m {
        font-weight: bold;
    }

    .status-p {
        color: darkorange;
    }

    .status-v {
        color: limegreen;
    }

    .status-m {
        color: red;
    }
</style>


<table style="margin: 100px;">
    <thead>
        <th>Date</th>
        <th>Time</th>
        <th>Doctor Name</th>
        <th>Specialty</th>
        <th>Workplace</th>
        <th>Status</th>
        <th></th>
    </thead>
    <tbody>
        {% if appointment_list %}
        {% for a in appointment_list %}
        <tr>
            <td>{{a.date}}</td>
            <td>{{a.start_time}} - {{a.end_time}}</td>
            <td>{{a.doctor_name}}</td>
            <td>{{a.specialty}}</td>
            <td>{{a.workplace}}</td>
            <td class="status-{{a.status}}">
                {% if a.status == 'v' %}
                Visited
                {% elif a.status == 'm' %}
                Missed
                {% else %}
                Pending
                {% endif %}
            </td>
            <td>
                <form action="{% url 'patient_appointment_list' %}" method="post">
                    {% csrf_token %}
                    {% if a.status == 'p' %}
                    <button class="cancel" name="cancel" value="{{a.id}}">Cancel</button>
                    {% else %}
                    <button class="reschedule" name="reschedule" value="{{a.id}}">Reschedule</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">You have no pending appointment</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}


