{% extends 'base_generic.html' %}
{% block body %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
</div>
</div>
{% else %}
<p></p>
{% endif %}
{% endfor %}
{% endif %}

<link href="/static/sign-in.css" rel="stylesheet">
    <div class="container my-5 py-5">
        <main class="form-signin w-100 m-auto shadow" style="border-radius: 10px;">
            
            <form action="account_login" method="post">
                {% csrf_token %}
              <h1 class="h3 mb-3 fw-normal  pt-2">Please sign in</h1>
        
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
              </div>
        
              <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
              <br><br>
              <p class="mt-5 mb-3 text-body-secondary">&copy; 2024 Group-5, CSE311L.7, Spring-24, Dept of ECE, NSU</p>
            </form>
          </main>
    </div>
{% endblock %}
