{% extends "registration_form.html" %}

{% block title %} Patient Registration Page {% endblock %}

{% block form_action %} {% url 'registerPatient' %} {% endblock %}

{% block form_heading %} Patient Registration {% endblock %}
{% block form_fields %}
<p class="error-message">
    {{error_message}}
</p>
<p>
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first_name" required>
</p>
<p>
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="last_name" required>
</p>
<p>
    <label for="date-of-birth">Date of Birth:</label>
    <input type="date" id="date-of-birth" name="date_of_birth" required>
</p>
<p>
<fieldset>
    <legend>Sex:</legend>
    <span><input type="radio" id="male" name="sex" value="m"><label for="male">Male</label></span>
    <span><input type="radio" id="female" name="sex" value="f"><label for="female">Female</label></span>
</fieldset>
</p>
<p>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required>
</p>
<p>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
</p>
<p>
    <label for="contact">Contact:</label>
    <input type="tel" id="contact" name="contact" required>
</p>
<p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
</p>
<p>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm_password" required>
</p>
{% endblock %}
{% block field_style %}
<style>
    legend {
        font-weight: bold;
    }

    input[type='radio'] + label {
        display: inline;
        font-weight: normal;
        vertical-align: 1px;
    }

    fieldset span:first-of-type {
        margin-right: 20px;
    }
</style>
{% endblock %}