{% extends "base_accounts.html" %}

{% block title %} Doctor Registration Page {% endblock %}

{% block nav_list %}
<li><a href="{% url 'registerPatient' %}">Patient Registration</a></li>
<li><a href="{% url 'login' %}">Login</a></li> 
{% endblock %}

{% block form_action %} {% url 'registerDoctor' %} {% endblock %}

{% block form_heading %} Doctor Registration {% endblock %}

{% block form_fields %}
{% if error_message %}
<p class="error-message">
    {{error_message}}
</p>
{% endif %}
<p>
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first_name" required>
</p>
<p>
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="last_name" required>
</p>
<p>
    <label for="specialty">Specialty:</label>
    <input type="text" id="speciality" name="specialty" required>
</p>
<p>
    <label for="department">Department:</label>
    <input type="text" id="department" name="department" required>
</p>
<p>
    <label for="qualification">Qualification:</label>
    <input type="text" id="qualification" name="qualification" required>
</p>
<p>
    <label for="workplace">Workplace</label>
    <select name="workplace" id="workplace" required>
        <option value="" disabled selected>Select your workplace</option>
        {% for place in workplaces %}
        <option value="{{place.1}}">{{place.0}}</option>
        {% endfor %}
    </select>
</p>
<p>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
</p>
<p>
    <label for="contact">Contact:</label>
    <input type="tel" id="contact" name="contact" maxlength="10" required>
</p>
<p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" minlength="8" maxlength="32" required>
</p>
<p>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm_password" required>
</p>
{% endblock %}

{% block submit_txt %}Register{% endblock %}

{% block field_style %}
<style>
    
</style>
{% endblock %}