{% extends 'base_generic.html' %}
{% block body %}
    <div class="container">
        <form action="/accounts/registerPatient" method="post" style="max-width: 400px; margin: 0 auto;" class="form px-3 pt-1 my-5 shadow">
            {% csrf_token %}
            <h4 class="text-center mt-5">Register Patient</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="dateOfBirth" name="date_of_birth" placeholder="Date of Birth">
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Sex:</legend>
                    <span><input type="radio" id="male" name="sex" value="m"><label for="male">Male</label></span>
                    <span><input type="radio" id="female" name="sex" value="f"><label for="female">Female</label></span>
                </fieldset>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" id="contact" name="contact" placeholder="Contact">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <input type="submit" class="btn btn-primary mb-3" value="Submit">
        </form>
    </div>
{% endblock %}
